In [190]:
import warnings
warnings.filterwarnings("ignore")
from tvDatafeed import TvDatafeed, Interval
from math import sqrt
import pandas as pd
name = ['SET:ADVANC', 'SET:AOT', 'SET:AWC', 'SET:BANPU', 'SET:BBL', 'SET:BDMS', 'SET:BEM', 'SET:BGRIM', 'SET:BH', 'SET:BTS', 'SET:CBG', 'SET:CENTEL', 'SET:COM7', 'SET:CPALL', 'SET:CPF', 'SET:CPN', 'SET:CRC', 'SET:DELTA', 'SET:EA', 'SET:EGCO', 'SET:GLOBAL', 'SET:GPSC', 'SET:GULF', 'SET:HMPRO', 'SET:INTUCH', 'SET:IVL', 'SET:KBANK', 'SET:KCE', 'SET:KTB', 'SET:KTC', 'SET:LH', 'SET:MINT', 'SET:MTC', 'SET:OR', 'SET:OSP', 'SET:PTT', 'SET:PTTEP', 'SET:PTTGC', 'SET:RATCH', 'SET:SAWAD', 'SET:SCB', 'SET:SCC', 'SET:SCGP', 'SET:TISCO', 'SET:TOP', 'SET:TRUE', 'SET:TTB', 'SET:TU', 'SET:WHA', 'SET:TLI']

The Set Up

In [191]:
#Close Price Year End
tv = TvDatafeed()
df = tv.get_hist(symbol='SET:SET50', exchange='SET', interval=Interval.in_monthly, n_bars=60)
set50 = df[['close']]
set50.rename(columns = {'close':'set50'}, inplace=True)
for i in range (len(name)):
    df = tv.get_hist(symbol=name[i], exchange='SET', interval=Interval.in_monthly, n_bars=60)
    df = df[['close']]
    set50 = pd.merge(set50, df, left_index=True, right_index=True, how='outer')
    set50.rename(columns = {'close':name[i]}, inplace=True)
close = set50[set50.index.month == 12]
last_row = set50.iloc[[-1]]
close = pd.concat([close, last_row])
years = ['2019','2020', '2021', '2022', '2023','2024']
close = close.reset_index(drop=True)
close.index = years
close = close[name]
close = close.tail(4)
close

WARNING:tvDatafeed.main:you are using nologin method, data you access may be limited

,SET:ADVANC,SET:AOT,SET:AWC,SET:BANPU,SET:BBL,SET:BDMS,SET:BEM,SET:BGRIM,SET:BH,SET:BTS,...,SET:SCB,SET:SCC,SET:SCGP,SET:TISCO,SET:TOP,SET:TRUE,SET:TTB,SET:TU,SET:WHA,SET:TLI
2021,230.0,61.00,4.64,10.6,121.5,23.00,8.45,40.50,141.0,9.35,...,127.0,386.0,69.25,96.00,49.261955,NaN,1.47,19.5,3.52,NaN
2022,195.0,75.00,6.30,13.7,148.0,29.00,9.80,39.75,212.0,8.40,...,107.0,342.0,57.00,99.25,56.250000,NaN,1.41,16.9,4.08,14.90
2023,217.0,59.75,3.56,6.8,156.5,27.75,7.95,27.25,222.0,7.25,...,106.0,306.0,36.00,99.75,53.750000,5.05,1.67,15.0,5.30,9.15
2024,207.0,60.50,3.62,5.0,131.0,26.00,7.80,21.90,232.0,4.64,...,106.0,223.0,33.50,96.00,52.250000,8.55,1.68,15.2,4.92,7.70

In [192]:
#Open Price Year
df = tv.get_hist(symbol='SET:SET50', exchange='SET', interval=Interval.in_monthly, n_bars=60)
set50 = df[['close']]
set50.rename(columns = {'close':'set50'}, inplace=True)
for i in range (len(name)):
    df = tv.get_hist(symbol=name[i], exchange='SET', interval=Interval.in_monthly, n_bars=60)
    df = df[['open']]
    set50 = pd.merge(set50, df, left_index=True, right_index=True, how='outer')
    set50.rename(columns = {'open':name[i]}, inplace=True)
open = set50[set50.index.month == 3]
open = open.reset_index(drop = True)
years = ['2020', '2021', '2022', '2023','2024']
open.index = years
open = open[name]
open = open.tail(4)
open

,SET:ADVANC,SET:AOT,SET:AWC,SET:BANPU,SET:BBL,SET:BDMS,SET:BEM,SET:BGRIM,SET:BH,SET:BTS,...,SET:SCB,SET:SCC,SET:SCGP,SET:TISCO,SET:TOP,SET:TRUE,SET:TTB,SET:TU,SET:WHA,SET:TLI
2021,164.5,64.00,4.86,9.52129,121.0,20.200001,7.90,46.75,125.0,9.35,...,105.0,365.0,46.75,95.0,58.218674,NaN,1.12,14.1,3.16,NaN
2022,232.0,64.25,4.84,11.10000,141.0,23.900000,8.95,35.00,154.5,9.50,...,126.5,392.0,61.50,99.0,53.740314,NaN,1.38,20.5,3.42,NaN
2023,202.0,73.00,5.90,10.90000,165.0,28.000000,9.25,38.75,211.0,8.05,...,104.0,329.0,52.00,102.5,51.500000,8.35,1.40,15.9,3.94,13.6
2024,201.0,63.50,3.86,5.60000,144.0,28.250000,8.05,26.00,225.0,5.10,...,113.0,268.0,28.25,100.0,56.250000,7.10,1.84,14.2,4.60,9.0

In [193]:
#Return (Close - Open of each year)
returns = pd.DataFrame()
returns = close - open
returns

,SET:ADVANC,SET:AOT,SET:AWC,SET:BANPU,SET:BBL,SET:BDMS,SET:BEM,SET:BGRIM,SET:BH,SET:BTS,...,SET:SCB,SET:SCC,SET:SCGP,SET:TISCO,SET:TOP,SET:TRUE,SET:TTB,SET:TU,SET:WHA,SET:TLI
2021,65.5,-3.00,-0.22,1.07871,0.5,2.799999,0.55,-6.25,16.0,0.00,...,22.0,21.0,22.50,1.00,-8.956719,NaN,0.35,5.4,0.36,NaN
2022,-37.0,10.75,1.46,2.60000,7.0,5.100000,0.85,4.75,57.5,-1.10,...,-19.5,-50.0,-4.50,0.25,2.509686,NaN,0.03,-3.6,0.66,NaN
2023,15.0,-13.25,-2.34,-4.10000,-8.5,-0.250000,-1.30,-11.50,11.0,-0.80,...,2.0,-23.0,-16.00,-2.75,2.250000,-3.30,0.27,-0.9,1.36,-4.45
2024,6.0,-3.00,-0.24,-0.60000,-13.0,-2.250000,-0.25,-4.10,7.0,-0.46,...,-7.0,-45.0,5.25,-4.00,-4.000000,1.45,-0.16,1.0,0.32,-1.30

In [194]:
import os
import shutil
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup

assets = pd.DataFrame()
liabilities = pd.DataFrame()
equity = pd.DataFrame()
revenue = pd.DataFrame()
net_profit = pd.DataFrame()
eps = pd.DataFrame()
roa = pd.DataFrame()
roe = pd.DataFrame()
net_profit_margin = pd.DataFrame()

mcap = pd.DataFrame()
pe = pd.DataFrame()
pbv = pd.DataFrame()
book_per_share = pd.DataFrame()
div_yield = pd.DataFrame()

years = ['2020', '2021', '2022', '2023','2024']

for i in range(len(name)):
    # Set up Selenium webdriver
    driver = webdriver.Chrome()  # You may need to change this path to the location of your Chrome webdriver
    dude = name[i][4:]
    # Load the webpage
    url = "https://www.set.or.th/en/market/product/stock/quote/"+ dude +"/financial-statement/company-highlights"
    driver.get(url)
    time.sleep(3)

    try:
        button = driver.find_element(By.CSS_SELECTOR, "button.btn.ms-auto.px-1.rounded-0.rounded-top.text-white.btn-sm")
        button.click()
        time.sleep(2)  # Wait for the action to complete if necessary
    except Exception as e:
        pass

    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')

    # Use pandas to read the HTML table(s)
    df_list = pd.read_html(str(soup))
    df_dw13 = df_list[0]

    df_dw13.set_index('Period as of', inplace=True)
    df_dw13_transposed = df_dw13.T
    df_dw13_transposed = df_dw13_transposed.reset_index(drop = True)

    num_missing_rows = 5 - len(df_dw13_transposed)
    if num_missing_rows > 0:
        missing_rows = pd.DataFrame(index=range(num_missing_rows), columns=df_dw13_transposed.columns)
        df_dw13_transposed = pd.concat([missing_rows, df_dw13_transposed]).reset_index(drop=True)

    df_dw13_transposed.index = years

    assets[name[i]] = df_dw13_transposed['Assets']
    liabilities[name[i]] = df_dw13_transposed['Liabilities']
    equity[name[i]] = df_dw13_transposed['Equity']
    revenue[name[i]] = df_dw13_transposed['Revenue']
    net_profit[name[i]] = df_dw13_transposed['Net Profit']
    eps[name[i]] = df_dw13_transposed['EPS (Baht)']
    roa[name[i]] = df_dw13_transposed['ROA (%)']
    roe[name[i]] = df_dw13_transposed['ROE (%)']
    net_profit_margin[name[i]] = df_dw13_transposed['Net Profit Margin (%)']

    df_dw01 = df_list[1]
    df_dw01.set_index('Statistics as of', inplace=True)
    df_dw01_transposed = df_dw01.T
    df_dw01_transposed = df_dw01_transposed.reset_index(drop = True)

    num_missing_rows = 5 - len(df_dw01_transposed)
    if num_missing_rows > 0:
        missing_rows = pd.DataFrame(index=range(num_missing_rows), columns=df_dw01_transposed.columns)
        df_dw01_transposed = pd.concat([missing_rows, df_dw01_transposed]).reset_index(drop=True)

    df_dw01_transposed.index = years

    mcap[name[i]] = df_dw01_transposed['Market Cap. (M.Baht)']
    pe[name[i]] = df_dw01_transposed['P/E']
    pbv[name[i]] = df_dw01_transposed['P/BV']
    book_per_share[name[i]] = df_dw01_transposed['Book Value per share (Baht)']
    div_yield[name[i]] = df_dw01_transposed['Dividend Yield (%)']

    driver.quit()

In [197]:
#risk free
rf = tv.get_hist(symbol='ECONOMICS:THINTR', exchange='Central Bank',interval=Interval.in_monthly,n_bars=2)
rrf = rf['close'][-1]
rrf = rrf/100
rrf

0.025

The System

In [198]:
import numpy as np

assets = assets.replace('-', np.nan).astype(float)
liabilities = liabilities.replace('-', np.nan).astype(float)
equity = equity.replace('-', np.nan).astype(float)
revenue = revenue.replace('-', np.nan).astype(float)
net_profit = net_profit.replace('-', np.nan).astype(float)
eps = eps.replace('-', np.nan).astype(float)
roa = roa.replace('-', np.nan).astype(float)
roe = roe.replace('-', np.nan).astype(float)
net_profit_margin = net_profit_margin.replace('-', np.nan).astype(float)

mcap = mcap.replace('-', np.nan).astype(float)
pe = pe.replace('-', np.nan).astype(float)
pbv = pbv.replace('-', np.nan).astype(float)
book_per_share = book_per_share.replace('-', np.nan).astype(float)
div_yield = div_yield.replace('-', np.nan).astype(float)

In [199]:
assets = assets.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
liabilities = liabilities.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
equity = equity.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
revenue = revenue.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
net_profit = net_profit.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
eps = eps.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
roa = roa.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
roe = roe.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
net_profit_margin = net_profit_margin.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
mcap = mcap.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
pe = pe.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
pbv = pbv.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
book_per_share = book_per_share.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})
div_yield = div_yield.rename(index={'2020': '2021', '2021': '2022', '2022': '2023', '2023': '2024', '2024': '2025'})

The Strategy

In [226]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

strategy = pd.DataFrame()
strategy = ((assets) + (revenue/assets)/2)

####Sharpe > 1 and is currently profiting
#assets/liabilities
#(assets/liabilities) + (revenue/assets)/4 - (liabilities/assets)
#((assets/liabilities)/2 + (revenue/assets)/4) / (liabilities/assets)
# 1 / (liabilities/assets)

####Sharpe > 1 but is currently losing
#((assets) + (revenue/assets)/2)

####Shart < 1 but is currently profiting
#net_profit/mcap + equity/assets (sharpe 0.84)
#((assets/liabilities) + (revenue/assets)/2)
ninvest = 5
notional = 1000000
strategy

,SET:ADVANC,SET:AOT,SET:AWC,SET:BANPU,SET:BBL,SET:BDMS,SET:BEM,SET:BGRIM,SET:BH,SET:BTS,...,SET:SCB,SET:SCC,SET:SCGP,SET:TISCO,SET:TOP,SET:TRUE,SET:TTB,SET:TU,SET:WHA,SET:TLI
2021,350170.828051,173558.665443,124466.594651,281647.749470,3.822960e+06,136050.503956,113615.823003,130696.049622,24221.929434,173100.591729,...,NaN,749381.151702,172429.150802,275443.251508,306188.066659,NaN,1.808332e+06,144575.133816,82621.159611,NaN
2022,356221.996309,195085.789775,138897.305824,365799.584514,4.333281e+06,128453.915016,115088.549882,149197.716893,20857.103817,212062.529921,...,NaN,861101.343962,206824.045663,243621.973644,362144.597691,NaN,1.759181e+06,166604.465735,82769.560309,533706.392347
2023,337043.936141,183812.966222,156453.940690,436794.455095,4.421752e+06,141543.188719,114128.254846,170650.905312,24259.241874,255866.630959,...,3.454452e+06,906490.111180,197280.023555,265414.479154,444581.456575,793692.427462,1.826279e+06,182569.898769,86302.226802,556041.906353
2024,454439.428741,195611.213805,172437.330697,444912.796881,4.514484e+06,143792.765816,112495.946175,177036.474454,29212.549678,270926.004549,...,3.438722e+06,893600.925731,198560.998467,290724.290747,419993.260227,744721.989866,1.824434e+06,165450.734665,90225.036002,572793.174937
2025,455211.358726,195726.567144,174802.032257,459466.873466,4.556914e+06,147954.521200,118313.088216,180965.589775,31196.326220,272081.734816,...,3.407138e+06,939396.527616,206319.592906,282405.020854,428357.180240,724034.435831,1.807603e+06,162035.403273,97608.519247,587025.863134

In [227]:
#close 2020, backtest return of 2021, 2022, 2023, and return in 2024 so far
years = ['2021','2022','2023']
#strategy.drop(columns=['SET:INTUCH'], inplace=True)
performance = pd.DataFrame({'year':years})
yearly_return = []
for years in years:
    temp = strategy.loc[years].nlargest(ninvest).index
    top_df = strategy.loc[[years], temp]
    top_df =  top_df.T.reset_index()
    total = np.sum(top_df[years])
    top_df['weight'] = top_df[years] / total
    top_df['allocation'] = notional * top_df['weight']

    priz = []
    for i in range(len(top_df)):
        price = open[top_df['index'][i]][years]
        priz.append(price)

    top_df['price'] = np.array(priz)
    top_df['n.Stock'] = np.floor(top_df['allocation'] / top_df['price'])

    ret = []
    for i in range(len(top_df)):
        retur = returns[top_df['index'][i]][years]
        ret.append(retur)

    top_df['return'] = np.array(ret)
    top_df['totalReturn'] = top_df['return'] * top_df['n.Stock']
    perf = np.sum(top_df['totalReturn'])
    yearly_return.append(perf)

    print(top_df)
performance['Yearly_Return'] = np.array(yearly_return)
performance['% Return'] = round(performance['Yearly_Return']/notional * 100,2)
print(performance)
mean = np.mean(performance['% Return'])
mean
std = np.std(performance['% Return'])
sharpie = (mean - rrf) / std
total_return = np.sum(performance['Yearly_Return'])
total_pct_return = total_return/notional
summary = pd.DataFrame({
    'Sharpe': [sharpie],
    'Total Return': [total_return],
    'Total Percentage Return': [total_pct_return]
})
summary = summary.round(2)
summary

       index          2021    weight     allocation   price   n.Stock  return  \
0    SET:BBL  3.822960e+06  0.252140  252139.980613  121.00    2083.0    0.50
1  SET:KBANK  3.658798e+06  0.241313  241312.823686  143.50    1681.0   -1.50
2    SET:KTB  3.327780e+06  0.219481  219480.853080   11.80   18600.0    1.40
3    SET:PTT  2.544183e+06  0.167799  167799.388885   40.00    4194.0   -2.00
4    SET:TTB  1.808332e+06  0.119267  119266.953736    1.12  106488.0    0.35

   totalReturn
0       1041.5
1      -2521.5
2      26040.0
3      -8388.0
4      37270.8
       index          2022    weight     allocation   price  n.Stock  \
0    SET:BBL  4.333281e+06  0.257464  257464.069988  141.00   1825.0
1  SET:KBANK  4.103399e+06  0.243805  243805.492732  165.00   1477.0
2    SET:KTB  3.556744e+06  0.211326  211325.764401   14.00  15094.0
3    SET:PTT  3.078019e+06  0.182882  182882.061951   39.75   4600.0
4    SET:TTB  1.759181e+06  0.104523  104522.610928    1.38  75741.0

      return   totalReturn
0   7.000000  12775.000000
1 -17.500000 -25847.500000
2   3.700001  55847.815094
3  -6.500000 -29900.000000
4   0.030000   2272.230000
       index          2023    weight     allocation       price  n.Stock  \
0    SET:BBL  4.421752e+06  0.231135  231134.743274  165.000000   1400.0
1  SET:KBANK  4.246369e+06  0.221967  221967.076325  137.500000   1614.0
2    SET:KTB  3.592419e+06  0.187784  187783.664691   17.299999  10854.0
3    SET:SCB  3.454452e+06  0.180572  180571.850402  104.000000   1736.0
4    SET:PTT  3.415633e+06  0.178543  178542.665308   32.000000   5579.0

     return   totalReturn
0 -8.500000 -11900.000000
1 -2.500000  -4035.000000
2  1.100001  11939.410854
3  2.000000   3472.000000
4  3.750000  20921.250000
   year  Yearly_Return  % Return
0  2021   53442.800000      5.34
1  2022   15147.545094      1.51
2  2023   20397.660854      2.04

   year  Yearly_Return  % Return
0  2021   53442.800000      5.34
1  2022   15147.545094      1.51
2  2023   20397.660854      2.04

2024, So far

In [224]:
temp = strategy.loc['2024'].nlargest(ninvest).index
top_df = strategy.loc[['2024'], temp]
top_df =  top_df.T.reset_index()
total = np.sum(top_df['2024'])
top_df['weight'] = top_df['2024'] / total
top_df['allocation'] = notional * top_df['weight']
top_df

priz = []
for i in range(len(top_df)):
    price = open[top_df['index'][i]]['2024']
    priz.append(price)

top_df['price'] = np.array(priz)
top_df['n.Stock'] = np.floor(top_df['allocation'] / top_df['price'])

ret = []
for i in range(len(top_df)):
    retur = returns[top_df['index'][i]]['2024']
    ret.append(retur)

top_df['return'] = np.array(ret)
top_df['totalReturn'] = top_df['return'] * top_df['n.Stock']
print(np.sum(top_df['totalReturn']))

top_df

60509.40860899999

,index,2024,weight,allocation,price,n.Stock,return,totalReturn
0,SET:INTUCH,1.040136,0.257716,257716.321955,67.750000,3803.0,4.250000,16162.750000
1,SET:BH,0.854474,0.211715,211714.542369,225.000000,940.0,7.000000,6580.000000
2,SET:KCE,0.739640,0.183262,183262.049857,37.750000,4854.0,6.000000,29124.000000
3,SET:OSP,0.705377,0.174773,174772.618466,20.299999,8609.0,2.600001,22383.408609
4,SET:BDMS,0.696344,0.172534,172534.467353,28.250000,6107.0,-2.250000,-13740.750000